<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
  <%= education_navigation_variant.analytics_meta_tag.html_safe %>
<% end %>

<%= render 'govuk_component/beta_label' if should_present_new_navigation_view? %>
<%= render partial: 'govuk_component/breadcrumbs', locals: breadcrumbs %>

<div class="grid-row">
  <main id="content" role="main">
    <%= yield %>

    <%= render 'smartanswer_metadata' %>
  </main>

  <%= yield :sidebar %>
</div>

<% parent_layout 'application' %>
